<div th:fragment="header">
    <header class="app-header">
        <div class="container">
            <nav class="nav">
                <a class="brand" href="/">Thẩm mỹ viện C1-TW</a>
                <ul class="menu">
                    <li><a href="/promotions">Khuyến mãi</a></li>
                    <li><a href="#">Dịch vụ</a></li>
                    <li><a href="#">Khách hàng</a></li>
                    <li><a href="#">Nhân viên</a></li>
                    <li><a href="#">Thanh toán</a></li>
                    <li><a href="#">Sản phẩm</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>

