<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <main class="container">
        <h1>Quản lý khuyến mãi</h1>
        <p><a class="btn" href="/promotions">Vào trang danh sách khuyến mãi</a></p>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/script.js"></script>
</body>
</html>

